/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
client_secret_40088812296-lmuin8lmkfv6cvc47tka7vio22m6hpbb.apps.googleusercontent.com.json
/public/images

